.icyplyr{
	// gloable setting
	position: relative;
	overflow: hidden;
	user-select: none;
	line-height: 1;
	min-width: 400px;

	// global icon setting 
	.plyr-icon{
		position: relative;
		width: 46px;
		height: 38px;
		outline: none;
		border: none;
		background-color: transparent;
		cursor: pointer;
		opacity: 0.6;
		transition: all .2s ease-in-out;
		display: inline-block;
		padding: 10px;
		//margin: 0 20px;
		&:hover{
			opacity:1;
		}
	}
	.icyplyr-play-progress{
		height: 38px;
		will-change: width;
		width: calc(100% - 160px);
		& .icyplyr-play-bar-inner{
			position: absolute;
			border-radius: 50%;
			cursor: pointer;
			transition: all 0.3s ease-in-out;
			transform: scale(0); // hide the thumb at first 
		}
		&:hover{
			.icyplyr-play-bar-inner{
				transform: scale(1); // when hover the bar the drag button will show up 
				background-color: #aaa;
			}
		}
	}

	.icyplyr-controller{
		display: flex;
		flex-direction: row;
		padding: 0 20px 0 5px;
	}

	.icyplyr-volume{
		display: flex;
		flex-direction: row;
		margin-right: 10px;
		.icyplyr-volume-bar{
			padding: 10px;
			margin-top: 8px;
			margin-right: 10px;
			
		}
		.icyplyr-drag-wrap{
			display: none;
		}
	}
	.icyplyr-playtime{
		display: inline-block;
		margin: 0 20px 0 10px;
		width: 100px;
		padding-top: 10px;
		.playtime{
			padding: 10px 10px 0 0;
		}
	}
	.icyplyr-video-wrap{
		position: relative;
		width:100%;
		height:100%;
		.icyplyr-video{
			width: 100%;
			height: 100%;
		}
	}
	.icyplyr-comment-outer, .icyplyr-playtime{
		display:block;
	}
}